    <div class="row">
      <div class="col-xs-12">
        <h1>S-Printer Project</h1>
	    <a href="./settings">Settings</a> (Last checked @ <%=@got%>)
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
		<h2>Values</h2>
        <form action="update" method="POST">
          <p>
            <label for="key">Key:</label><input name="key"/><br/>
            <label for="value">Value:</label><input name="value"/>
          </p>
          <p>
            <input type="submit" value="Save"/>
          </p>
        </form>
      </div>
      <div class="col-sm-6">
        <h2>Images</h2>
      <% @files.each_with_index do |name, i| %>
        <% if i % 3 == 0 %>
        <div class="row">
        <% end %> 
          <div class="col-sm-4">
			<p><%=name%></p>
            <span id="img-load-<%=name%>">
              <p>
                <span><a href="#" onclick="loadImage('<%=name%>'); return false;">Load Image</a></span>
              </p>
            </span>
            <p>
              <a href="/deleteImage/<%=name%>" onclick="return confirmDelete('<%=name%>');">Delete?</a>
            </p> 
          </div>
        <% if i % 3 == 0 %>
        </div">
        <% end %> 
      <% end %>
        </div>
        <form action="imageupload" method="POST"  enctype="multipart/form-data">
          <p>
            <label for="name">Name:</label><input name="name"/><br/>
            <label for="file">File:</label><input name="file" type="file"/>
          </p>
          <p>
            <input type="submit" value="Add"/>
          </p>
        </form>
      </div>
    </div>

